---
import DiagnosticStep2 from "../../components/DiagnosticStep2.astro";
import FormLayout from "../../layouts/FormLayout.astro";
---

<FormLayout
  title="Formulário de Diagnóstico de Gestão | Etapa 2"
  description="Perfil profissional para personalizar o diagnóstico do seu escritório."
>
  <main>
    <DiagnosticStep2 />
  </main>
</FormLayout>
