.c-button {
  padding: rem(16px) rem(32px);
  font-size: rem(20px);
  display: inline-flex;
  border: 1px solid;

  &--primary {
    background: var(--blue-500);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.13);
    color: var(--white);
    border-radius: rem(32px);
    border-color: var(--blue-500);
  }

  &--secondary {
    background: transparent;
    color: var(--blue-500);
    border-radius: rem(32px);
    border-color: var(--blue-500);
  }
}