.c-footer {
  height: rem(90px);

  & .c-container {
    flex-direction: column;
    align-items: start;
    justify-content: center;

    border-top: 1px solid var(--rose-50);

    @include media-up(md) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__copy {
    color: var(--gray-700);
    font-size: rem(14px);
    line-height: 24px;
  }


}