.c-hero {
  position: relative;
  background: linear-gradient(180deg,
      var(--white) 0%,
      var(--blue-50) 100%);
  height: 100%;
  border-bottom: 1px solid var(--blue-50);

  @include media-up(md) {
    height: 37.9375rem;
  }

  & .c-container {
    @include flex-element(column, center, center, rem(24px));

    @include media-up(md) {
      @include flex-element(row, center, space-between);
    }
  }

  &__headline {
    width: 100%;
    z-index: 1;
    padding: rem(80px) 0;

    @include media-up(md) {
      flex: 0 0 auto;
      width: 50%;
      padding: 0;
    }
  }

  & .c-title {
    margin-bottom: 1rem;

    &__pretitle {
      margin-bottom: 0.5rem;
      background-color: var(--blue-50);
      display: inline-flex;
      padding: rem(4px) rem(16px);
      border-radius: rem(32px);
      border: 1px solid var(--blue-100);
    }

    &__subtitle {
      margin-bottom: 1.5rem;
      font-size: 20px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include media-up(md) {
      flex: 0 0 auto;
      width: 50%;
    }

    img {
      display: block;
      width: 100%;
      max-width: 338px;

      @include media-up(md) {
        max-width: none;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  & svg {
    position: absolute;
    bottom: 0;
    right: 0;

    @include media-up(md) {
      top: 0;
    }
  }
}