.c-header {
  background-color: var(--white);
  height: rem(80px);
  box-shadow: 0px 4px 0 0px rgba(0, 0, 0, 0.02);

  &__hamburger {
    cursor: pointer;
    display: flex;

    @include media-up(md) {
      display: none;
    }
  }
}
