.c-title {
  font-size: rem(40px);
  line-height: rem(48px);
  color: var(--blue-300);

  &__pretitle {
    color: var(--blue-300);
    font-size: $font-pretitle;
    line-height: $line-height-pretitle;
    font-weight: 500;
  }

  &__display {
    font-size: rem(48px);
    line-height: rem(56px);
    font-weight: 700;
  }

  &__subtitle {
    font-size: rem($font-subtitle);
    color: var(--gray-500);
  }
}