//== typography
// Desktop
$font-title: 32px;
$line-height-title: 42px;

$font-display: 40px;
$line-height-display: 50px;

$font-pretitle: 14px;
$line-height-pretitle: 22px;

$font-subtitle: 20px;
$line-height-subtitle: 28px;

$font-text: 16px;
$line-height-text: 24px;

$font-h3: 24px;
$line-height-font-h3: 34px;

// Mobile
$font-title-mobile: 28px;
$line-height-title-mobile: 38px;

$font-display-mobile: 28px;
$line-height-display-mobile: 38px;

$font-pretitle-mobile: 24px;
$line-height-pretitle-mobile: 32px;

$font-subtitle-mobile: 20px;
$line-height-subtitle-mobile: 28px;

//== Grid - breakpoints
$container-sm: 576px;
$container-md: 768px;
$container-lg: 992px;
$container-xl: 1200px;
$container-xxl: 1400px;

$container-size: 1170px;

//== Grid - columns
$col-1: 8.33333333%;
$col-2: 16.66666667%;
$col-3: 25%;
$col-4: 33.33333333%;
$col-5: 41.66666667%;
$col-6: 50%;
$col-7: 58.33333333%;
$col-8: 66.66666667%;
$col-9: 75%;
$col-10: 83.33333333%;
$col-11: 91.66666667%;
$col-12: 100%;