---
import DiagnosticStep1 from "../components/DiagnosticStep1.astro";
import FormLayout from "../layouts/FormLayout.astro";
---

<FormLayout
  title="Formulário de Diagnóstico de Gestão | Dayane Anastácio"
  description="Faça um diagnóstico completo da gestão do seu escritório de advocacia."
>
  <main>
    <DiagnosticStep1 />
  </main>
</FormLayout>
