---
import Carousel from "../components/Carousel.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Assessoria Remota para Advogados | Gestão e Organização de Escritórios"
  description="Assessoria remota especializada em gestão administrativa para advogados. Organização, processos e rotina estruturada para escritórios de advocacia."
>
  <main>
    <Hero />
    <section class="l-section l-section--pain-points">
      <div class="c-container">
        <header class="l-section--pain-points__header">
          <h2 class="c-title">
            Você é advogado e sente que <strong>trabalha demais?</strong> <br>
            A sobrecarga do seu escritório não é falta de esforço, é falta de uma gestão administrativa estruturada.
          </h2>
          <p class="c-title__subtitle">Muitos escritórios se encontram presos em um ciclo interminável de demandas operacionais. Identificar os problemas é o primeiro passo para retomar o controle, organizar sua rotina e transformar sua advocacia em um negócio escalável.</p>
        </header>
      </div>
    </section>
    <section class="l-section l-section--services">
      <div class="c-container">
        <header class="l-section--services__header">
          <h2 class="c-title">Serviços Oferecidos</h2>
          <p class="c-title__subtitle">
            Pensando na melhor forma de atender as necessidades na área de moda
            e estilo, separei os meus serviços em três categorias super
            completas.
          </p>
        </header>

        <Carousel />
      </div>
    </section>

    <section class="l-section l-section--conversion">
      <div class="c-container">
        <div class="l-section--conversion__wrapper">
          <h2 class="c-title">
            Transmita personalidade através das roupas que você usa
          </h2>
          <p class="c-title__subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus nemo consequatur hic, laborum quae qui non recusandae
            distinctio vero at aut placeat! Consequatur officia hic ex nemo,
            numquam sint nobis.
          </p>
        </div>
        <div class="l-section--conversion__wrapper">
          <a href="#" class="c-button c-button--primary">Entrar em Contato</a>
        </div>
      </div>
    </section>
  </main>
</Layout>
