---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Carousel from "../components/Carousel.astro";
---

<Layout title="Dayane Anastacio">
  <main>
    <Hero />
    <section class="l-section l-section--services">
      <div class="c-container">
        <header class="l-section--services__header">
          <h2 class="c-title">Serviços Oferecidos</h2>
          <p class="c-title__subtitle">
            Pensando na melhor forma de atender as necessidades na área de moda
            e estilo, separei os meus serviços em três categorias super
            completas.
          </p>
        </header>

        <Carousel />
      </div>
    </section>

    <section class="l-section l-section--conversion">
      <div class="c-container">
        <div class="l-section--conversion__wrapper">
          <h2 class="c-title">
            Transmita personalidade através das roupas que você usa
          </h2>
          <p class="c-title__subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus nemo consequatur hic, laborum quae qui non recusandae
            distinctio vero at aut placeat! Consequatur officia hic ex nemo,
            numquam sint nobis.
          </p>
        </div>
        <div class="l-section--conversion__wrapper">
          <a href="#" class="c-button c-button--primary">Entrar em Contato</a>
        </div>
      </div>
    </section>
  </main>
</Layout>
