<!-- Swiper -->
<div class="swiper c-carousel">
  <div class="c-carousel__wrapper swiper-wrapper">
    <div class="c-carousel__slide swiper-slide">
      <a class="c-carousel__link" href="#">
        <img
          class="c-carousel__slide-image"
          src="/assets/consultoria-completa.jpg"
          alt="Consultoria Completa"
        />
        <div class="c-carousel__text-content">
          <h3 class="c-carousel__slide-title">Consultoria Completa</h3>
          <p class="c-carousel__slide-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
            cumque perspiciatis a officia. Ipsa voluptas quos inventore. Ipsa
            omnis sint harum odit eaque expedita alias eligendi ex corporis ea.
            Placeat.
          </p>
        </div>
        <div class="c-carousel__overlay"></div>
      </a>
    </div>

    <div class="c-carousel__slide swiper-slide">
      <a class="c-carousel__link" href="#">
        <img
          class="c-carousel__slide-image"
          src="/assets/organizacao-guarda-roupa.jpg"
          alt="Organização Guarda Roupa"
        />
        <div class="c-carousel__text-content">
          <h3 class="c-carousel__slide-title">Organização Guarda Roupa</h3>
          <p class="c-carousel__slide-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
            cumque perspiciatis a officia. Ipsa voluptas quos inventore. Ipsa
            omnis sint harum odit eaque expedita alias eligendi ex corporis ea.
            Placeat.
          </p>
        </div>
        <div class="c-carousel__overlay"></div>
      </a>
    </div>

    <div class="c-carousel__slide swiper-slide">
      <a class="c-carousel__link" href="#">
        <img
          class="c-carousel__slide-image"
          src="/assets/coloracao-pessoal.jpg"
          alt="Coloração Pessoal"
        />
        <div class="c-carousel__text-content">
          <h3 class="c-carousel__slide-title">Coloração Pessoal</h3>
          <p class="c-carousel__slide-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
            cumque perspiciatis a officia. Ipsa voluptas quos inventore. Ipsa
            omnis sint harum odit eaque expedita alias eligendi ex corporis ea.
            Placeat.
          </p>
        </div>
        <div class="c-carousel__overlay"></div>
      </a>
    </div>

    <div class="c-carousel__slide swiper-slide">
      <a class="c-carousel__link" href="#">
        <img
          class="c-carousel__slide-image"
          src="/assets/organizacao-guarda-roupa.jpg"
          alt="Organização Guarda Roupa"
        />
        <div class="c-carousel__text-content">
          <h3 class="c-carousel__slide-title">Organização Guarda Roupa</h3>
          <p class="c-carousel__slide-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
            cumque perspiciatis a officia. Ipsa voluptas quos inventore. Ipsa
            omnis sint harum odit eaque expedita alias eligendi ex corporis ea.
            Placeat.
          </p>
        </div>
        <div class="c-carousel__overlay"></div>
      </a>
    </div>

    <div class="c-carousel__slide swiper-slide">
      <a class="c-carousel__link" href="#">
        <img
          class="c-carousel__slide-image"
          src="/assets/organizacao-guarda-roupa.jpg"
          alt="Organização Guarda Roupa"
        />
        <div class="c-carousel__text-content">
          <h3 class="c-carousel__slide-title">Organização Guarda Roupa</h3>
          <p class="c-carousel__slide-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
            cumque perspiciatis a officia. Ipsa voluptas quos inventore. Ipsa
            omnis sint harum odit eaque expedita alias eligendi ex corporis ea.
            Placeat.
          </p>
        </div>
        <div class="c-carousel__overlay"></div>
      </a>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
