<footer class="c-footer">
  <div class="c-container">
    <p class="c-footer__copy">Dayane Anastacio | 2023</p>
    <p class="c-footer__developed-by">
      Desenvolvido por <span>Rodrigo Anastacio</span>
    </p>
  </div>
</footer>
