<section class="c-hero">
  <div class="c-container">
    <div class="c-hero__headline">
      <p class="c-title__pretitle">Consultoria e Moda</p>
      <h1 class="c-title c-title__display">
        Moda com propósito para um estilo com essência
      </h1>
      <p class="c-title__subtitle">
        O primeiro passo para ter um estilo que te representa é saber Quem Você
        é! Aprenda como transmitir sua personalidade através das roupas que você
        usa.
      </p>
      <a href="#" class="c-button c-button--primary">Chamada para ação</a>
    </div>

    <div class="c-hero__image">
      <img
        src="/assets/dayane-anastacio-consultora-de-moda.png"
        alt="Dayane Anastacio"
      />
    </div>
  </div>

  <svg
    width="805"
    height="607"
    viewBox="0 0 805 607"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <mask
      id="mask0_851_363"
      style="mask-type:alpha"
      maskUnits="userSpaceOnUse"
      x="0"
      y="0"
      width="805"
      height="607"
    >
      <rect width="805" height="607" fill="#F8EBD2"></rect>
      <rect
        width="805"
        height="607"
        fill="url(#paint0_linear_851_363)"
        fill-opacity="0.8"></rect>
    </mask>
    <g mask="url(#mask0_851_363)">
      <path
        d="M956.751 -332.194L888.726 -217.48L1008.04 -131.065L962.53 -54.3161M915.425 -235.896L1042 -144.224L974.953 -31.1642M795.503 -285.046L715.224 -149.673L758.535 -118.303M808.947 -275.308L738.46 -156.436L829.563 -90.4533M765.27 -181.849L753.035 -161.217L865.047 -80.0906L901.261 -141.162M822.912 -259.249L768.59 -167.645L859.691 -101.665L893.461 -158.606L965.522 -106.418L919.765 -29.2534M855.553 -117.634L896.419 -186.546L982.483 -124.215M740.401 -218.736L672.378 -104.023L791.693 -17.608L746.178 59.1386M699.079 -122.436L825.651 -30.7626L758.604 82.2972M707.396 -136.467L853.762 -30.4617L908.082 -122.066L937.953 -100.433M763.961 1.00376L641.465 -87.7144L613.082 -39.8501M755.151 15.8594L647.587 -62.0447L587.883 38.6393M670.58 -32.4133L651.911 -45.9383L578.504 77.8525L633.764 117.877M740.623 31.2895L657.733 -28.741L598.027 71.9407L649.553 109.257L602.326 188.894L532.508 138.326M612.484 67.3636L674.834 112.524L618.434 207.636M703.96 -59.8888L600.158 -135.066L521.964 -3.20471L452.517 -53.5001M616.825 -105.558L533.873 34.3251L431.568 -39.7703M629.516 -96.3667L533.6 65.3876L616.491 125.418L596.916 158.428M912.755 -89.1895L772.885 146.674L644.965 54.0284M675.223 36.7169L773.478 107.877L834.923 4.25978M692.785 125.524L786.715 193.555L907.621 -10.3283M160.769 -359L92.7422 -244.289L212.057 -157.876L166.545 -81.1269M119.433 -262.712L246.013 -171.034L178.959 -57.9759M333.112 -229.46L193.248 6.40107L65.324 -86.2454M95.5874 -103.552L193.844 -32.3938L255.287 -136.007M113.146 -14.7459L207.079 53.2835L327.987 -150.599M410.83 879L478.857 764.287L359.537 677.873L405.052 601.123M452.156 782.698L325.585 691.03L392.629 577.97M558.637 822.112L629.124 703.245L538.024 637.26M602.314 728.653L614.55 708.021L502.54 626.895L466.321 687.966M544.673 806.053L598.999 714.454L507.892 648.469L474.125 705.411L402.062 653.22L447.818 576.061M627.179 765.535L695.209 650.827L575.884 564.408L621.401 487.658M668.508 669.239L541.932 577.57L608.981 464.506M660.189 683.27L513.829 577.265L459.5 668.869L429.632 647.236M603.622 545.799L726.118 634.517L754.506 586.653M612.43 530.945L719.994 608.849L779.697 508.167M696.999 579.219L715.668 592.736L789.076 468.951L733.819 428.926M626.961 515.513L709.851 575.548L769.555 474.866L718.029 437.55L765.256 357.91L835.079 408.477M755.104 479.439L692.749 434.279L749.149 339.167M663.625 606.693L767.425 681.873L845.619 550.007L915.068 600.309M750.76 652.367L833.713 512.484L936.02 586.579M738.069 643.171L833.99 481.418L751.1 421.388L770.675 388.378M454.831 635.993L594.699 400.13L722.621 492.78M692.359 510.086L594.107 438.93L532.661 542.543M674.796 421.279L580.866 353.248L459.961 557.131M342.43 -5.076L481.296 95.5001M333.284 -11.7007L315.645 18.0415L463.663 125.245L447.514 152.479M492.337 103.495L412.06 238.872L455.368 270.24M505.781 113.231L435.286 232.101L526.393 298.083M462.098 206.692L449.869 227.323L561.88 308.449L598.098 247.38M519.741 129.288L465.419 220.892L556.524 286.874L590.291 229.932L662.357 282.122L616.594 359.284M552.388 270.902L593.252 201.993L679.319 264.325M437.237 169.808L369.208 284.518L488.524 370.932L443.015 447.683M395.913 266.107L522.491 357.778L455.444 470.836M404.23 252.076L550.594 358.08L604.916 266.477L634.787 288.11M126.083 108.387L264.952 208.964M116.932 101.758L99.2911 131.501L247.312 238.705L231.166 265.939M275.994 216.959L195.713 352.334L239.029 383.701M289.436 226.691L218.94 345.563L310.042 411.545M245.751 320.152L233.515 340.783L345.527 421.91L381.741 360.839M303.389 242.75L249.072 334.354L340.173 400.336L373.946 343.393L446.006 395.585L400.244 472.744M336.041 384.362L376.899 315.453L462.964 377.786M220.89 283.268L152.861 397.978L272.178 484.397L226.67 561.147M179.566 379.567L306.14 471.24L239.095 584.3M187.883 365.537L334.248 471.542L388.572 379.938L418.444 401.57M244.451 503.007L121.949 414.288L93.5644 462.152M235.64 517.862L128.076 439.962L68.3729 540.644M221.107 533.293L138.213 473.257L78.512 573.94L130.037 611.261L82.8131 690.897L12.9909 640.329M184.443 442.113L80.6481 366.937L2.45232 498.798L-67 448.502M276.612 21.9218L219.478 118.271L353.955 215.666M295.554 45.9357L388.169 113.01L343.132 188.951M425.646 140.157L331.93 298.193L347.216 309.265M268.808 65.5195L239.933 114.21L325.946 176.502M296.406 72.533L355.481 115.315L335.659 148.738M337.044 244.171L285.927 330.376L320.044 355.082M237.545 63.6668L197.044 131.957L316.896 218.76M393.235 412.813L253.368 648.676L125.45 556.031M155.714 538.72L253.965 609.88L315.409 506.263M173.272 627.527L267.209 695.559L388.108 491.675M198.009 257.236L150.038 338.127L17.357 242.033M519.511 -43.3498L431.568 -105.947L378.791 -11.699L567.385 121.012"
        stroke="url(#paint1_linear_851_363)"
        stroke-width="14.6667"
        stroke-miterlimit="10"></path>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_851_363"
        x1="402.5"
        y1="0"
        x2="402.5"
        y2="607"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F5DEB3"></stop>
        <stop offset="1" stop-color="#F8EBD2"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_851_363"
        x1="788"
        y1="569.5"
        x2="17.7239"
        y2="446.468"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.172007" stop-color="#F2DEB9" stop-opacity="0.7"></stop>
        <stop offset="1" stop-color="#F2DEB9" stop-opacity="0"></stop>
      </linearGradient>
    </defs>
  </svg>
</section>
