.l-section {
  &--services {
    padding: rem(80px) 0;
    overflow: hidden;

    & .c-container {
      @include flex-element(column, start, center);
      position: relative;
    }

    &__header {
      width: 100%;

      @include media-up(md) {
        flex: 0 0 auto;
        width: $col-8;
      }

      & .c-title {
        margin-bottom: rem(16px);

        &__subtitle {
          margin-bottom: rem(64px);
        }
      }
    }
  }

  &--pain-points {
    padding: rem(80px) 0;

    & .c-container {
      @include flex-element(column, center, center);
    }

    &__header {
      // @include flex-element(column, center, center);
      flex: 0 0 auto;
      width: $col-10;
    }

    & .c-title {
      color: var(--green-500);
      font-size: rem($font-display);
      line-height: rem($line-height-display);
      font-weight: 500;
      text-align: center;
      margin-bottom: rem(24px);

      strong {
        color: var(--blue-300);
      }

      &__subtitle {
        text-align: center;
      }
    }
  }

  &--conversion {
    background: linear-gradient(180deg, #f5deb3 0%, #f6e4c1 100%);
    padding: rem(60px) 0;

    & .c-container {
      @include flex-element(column, start, center);

      @include media-up(md) {
        @include flex-element(row, center, center);
      }
    }

    &__wrapper {
      width: 100%;

      @include media-up(md) {
        flex: 0 0 auto;
        width: $col-8;
      }

      &+.l-section--conversion__wrapper {
        width: 100%;
        display: flex;
        justify-content: start;

        @include media-up(md) {
          flex: 0 0 auto;
          width: $col-4;

          justify-content: center;
        }
      }
    }

    .c-title {
      margin-bottom: rem(16px);

      &__subtitle {
        margin-bottom: rem(32px);

        @include media-up(md) {
          margin-bottom: initial;
        }
      }
    }
  }
}