*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --brown-100: #887360;
  --brown-200: #6d5f53;
  --brown-300: #705d4c;

  --blue-50: #EFF6FF;
  --blue-100: #BFDBFE;
  --blue-300: #596E83;
  --blue-500: #111184;
  --blue-700: #1d4ed8;

  --green-100: #dcfce7;
  --green-700: #047857;

  --amber-100: #fef3c7;
  --amber-700: #b45309;

  --wheat-50: #f6e4c1;
  --wheat-100: #f5deb3;
  --wheat-200: #f2d49d;

  --gray-50: #d9d9d9;
  --gray-100: #d6d4d4;
  --gray-500: #666666;
  --gray-600: #4f5660;
  --gray-700: #2A2D33;
  --gray-800: #0d1525;

  --white: #f9f9f9;
}

html,
body {
  font-family: 'Source Serif 4', serif;

  p {
    color: var(--gray-500);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
  }

  button {
    cursor: pointer;
  }
}